# Override language detection for specific file types
*.c linguist-language=C
*.cpp linguist-language=C++

# Exclude specific directories from language statistics
Anul1/Proiecte\ Facultate/Hyperboloid-Visualizer/* linguist-vendored
Anul1/Seminarii/S1Sem\ Alg&Geo/Teme/ProiectMate/* linguist-vendored

# Exclude files that might be confused as SWIG files
*.i linguist-vendored
*.swg linguist-vendored
*.swig linguist-vendored
*.swginc linguist-vendored
*.swgdef linguist-vendored
# Exclude files that might be confused as HTML files
*.html linguist-vendored
*.htm linguist-vendored
*.xhtml linguist-vendored
*.xml linguist-vendored

# Exclude specific files from language statistics
path/to/specific/file.ext linguist-vendored